img{
    height: 360px;
}
.header{
    text-align: center;
}
body{
    background-image: url(./background.jpg);
}
h3, h4{
    color: #ff0000;
}
table{
    width: 1280px;
    border-collapse: collapse;
}
.table{
    text-align: -webkit-center;
}
th{
    background-color: #00cc6a;
    height: 55px;
}
td{
    height: 55px;
    background-color: white;
    padding-left: 10px;
}
.name{
    background-color: #ffff2a;
}